.faq {
  background-color: $color-ghost-white;

  padding: 120px 0;
  padding-bottom: 109px;

  @include vp-1200 {
    padding: 100px 0;
    padding-bottom: 106px;
  }

  @include vp-768 {
    padding: 70px 0;
    padding-bottom: 60px;
  }
}

.faq__title {
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;

  margin: 0;
  margin-bottom: 36px;

  @include vp-1200 {
    font-size: 42px;
    letter-spacing: 1.26px;
    text-align: center;

    margin-bottom: 40px;
  }

  @include vp-768 {
    font-size: 32px;
    letter-spacing: 0.96px;

    margin-bottom: 30px;
  }
}

.faq__content {
  display: flex;
  justify-content: space-between;
  gap: 0 40px;

  @include vp-1200 {
    flex-direction: column;

    gap: 27px 0;
  }
}

.faq__tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 260px;
  flex-shrink: 0;

  @include vp-1200 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 10px;

    width: 100%;
  }

  @include vp-768 {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

.faq__tab {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-768 {
    margin-bottom: 0;
  }
}

.faq__tab-button {
  position: relative;
  z-index: 0;

  color: #102654;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;

  background-color: transparent;
  cursor: pointer;
  transition:
    border-color $trans-time,
    color $trans-time;

  border: 1px solid rgba(16, 38, 84, 0.2);
  padding: 18px;
  width: 100%;

  &::before {
    position: absolute;
    inset: -1px;
    z-index: -1;

    background-image: linear-gradient(120deg, #ed0233, #003eb7);
    opacity: 0;
    transition: opacity $trans-time;

    content: "";
  }

  @include hover-focus {
    border-color: $color-primary;
  }

  @include active {
    color: #ffffff;

    border-color: transparent;

    &::before {
      opacity: 1;
    }
  }

  &.is-active {
    &:not([disabled]) {
      color: #ffffff;

      border: none;

      &::before {
        opacity: 1;
      }
    }
  }

  @include disabled {
    color: #c8c9cc;

    cursor: not-allowed;

    border-color: rgba(16, 38, 84, 0.2);
  }

  @include vp-768 {
    font-size: 16px;
    line-height: 100%;

    padding: 14px;
  }
}

.faq__tab-content {
  flex-grow: 1;
}

.faq__questions {
  display: none;

  transition: opacity $trans-time;
  animation: 300ms show-questions;

  padding: 0;
  margin: 0;
  list-style: none;

  &.is-active {
    display: block;
  }
}

.faq__question {
  position: relative;

  padding-top: 32px;
  padding-bottom: 20px;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    background-color: rgba(28, 51, 116, 0.2);

    height: 1px;

    content: "";
  }

  &:last-child {
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: rgba(28, 51, 116, 0.2);

      height: 1px;

      content: "";
    }
  }

  .faq__body {
    position: absolute;

    opacity: 0;
  }

  &.is-active {
    .faq__body {
      position: static;

      transition: opacity $trans-time;
      opacity: 1;
    }

    .faq__inner-button {
      background-color: #1c3374;

      border: none;

      &::before {
        background-color: #ffffff;
      }

      &::after {
        background-color: transparent;
      }

      @include hover-focus {
        background-color: transparent;

        border: 2px solid #1c3374;

        &::before {
          background-color: #1c3374;
        }

        &::after {
          display: none;
        }
      }

      @include active {
        background-color: transparent;

        border: 2px solid #1c3374;

        &::before,
        &::after {
          display: block;

          background-color: #1c3374;
        }
      }
    }
  }

  @include vp-1200 {
    padding-top: 35px;
    padding-bottom: 13px;

    padding-top: 30px;
    padding-bottom: 11px;
  }

  @include vp-768 {
    padding-top: 20px;
    padding-bottom: 13px;
  }
}

.faq__subtitle-container {
  position: relative;
}

.faq__subtitle {
  display: inline-block;

  font-size: 24px;
  font-weight: 500;
  line-height: 120%;

  cursor: pointer;

  margin: 0;
  margin-bottom: 16px;
  padding-right: 60px;

  @include vp-768 {
    font-size: 18px;
    line-height: 120%;

    margin-bottom: 12px;
    padding-right: 40px;
  }
}

.faq__body {
  padding-right: 190px;

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;

    margin: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @include vp-768 {
      font-size: 16px;
    }
  }

  @include vp-1200 {
    padding-right: 130px;
    margin-bottom: 18px;
  }

  @include vp-768 {
    padding-right: 0;
    margin-bottom: 0;
  }
}

.faq__inner-button {
  position: absolute;
  right: 0;
  top: 30%;

  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color $trans-time;
  transform: translateY(-50%);
  outline-color: #ed0233;

  border: 2px solid #1c3374;
  width: 42px;
  height: 42px;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: background-color $trans-time;

    content: "";
  }

  &::before {
    background-color: #1c3374;

    width: 21px;
    height: 2px;
  }

  &::after {
    background-color: #1c3374;

    width: 2px;
    height: 21px;
  }

  @include hover-focus {
    background-color: #1c3374;

    border: none;

    &::before,
    &::after {
      background-color: #ffffff;
    }
  }

  @include active {
    background-color: #1c3374;

    border: none;

    &::before {
      background-color: #ffffff;
    }

    &::after {
      background-color: transparent;
    }
  }

  @include vp-768 {
    top: 42%;

    width: 32px;
    height: 32px;

    &::before {
      width: 16px;
      height: 2px;
    }

    &::after {
      width: 2px;
      height: 16px;
    }
  }
}

@keyframes show-questions {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
