.footer {
  position: relative;

  background-color: #030a1a;

  padding: 36px 0 49px;

  @include vp-1200 {
    padding: 41px 0 49px;
  }

  @include vp-768 {
    padding-top: 50px;
    padding-bottom: 52px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 0 46px;

  @include vp-1200 {
    gap: 0 50px;
  }

  @include vp-768 {
    flex-direction: column;
    gap: 38px 0;
  }
}

.footer__links {
  position: relative;
  left: 5px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1200 {
    left: 6px;
    gap: 20px;
  }

  @include vp-768 {
    left: -5px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 20px 31px;
  }
}

.footer__logo {
  flex-shrink: 0;

  img {
    position: relative;
    top: 8px;
    width: 88px;
    height: 32px;
  }

  @include vp-1200 {
    img {
      top: 3px;
      width: 82px;
      height: 18px;
    }
  }

  @include vp-768 {
    position: absolute;
    top: 50px;
    left: 14px;

    img {
      top: 0;
      width: 68px;
      height: 15px;
    }
  }
}

.footer__link-item {
  @include vp-768 {
    &--services {
      order: 2;
    }

    &--session-ticket {
      order: 4;
    }

    &--stocks {
      order: 1;
      grid-column: 2 / 3;
    }

    &--trainers {
      order: 3;
    }

    &--schedule {
      order: 5;
    }
  }
}

.footer__link {
  position: relative;

  text-decoration: none;
  color: #ffffff;
  font-size: 14px;

  outline: none;

  padding: 10px 5px;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    transition: background-color $trans-time;
    background-color: transparent;

    height: 1px;

    content: "";
  }

  &::after {
    position: absolute;
    inset: 0 -5px;

    transition: border-color $trans-time;
    border: 1px solid transparent;

    content: "";
  }

  @include hover {
    &::before {
      background-color: #ffffff;
    }
  }

  @include focus {
    &::before {
      display: none;
    }

    &::after {
      border-color: #ffffff;
    }
  }

  @include active {
    &::before {
      background-color: transparent;
    }
  }

  @include disabled {
    opacity: 0.4;
  }

  &:not([href]) {
    &::before,
    &::after {
      display: none;
    }
  }

  @include vp-768 {
    font-size: 16px;
  }
}

.footer__socials {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  gap: 11px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social {
  position: relative;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: inherit;

  outline: none;
  transition: color $trans-time;

  width: 25px;
  height: 25px;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color $trans-time;

    content: "";
  }

  @include hover-focus {
    color: #ffffff;

    &::before {
      background-color: #103aae;
    }
  }

  @include active {
    color: #ffffff;

    &::before {
      background-color: #102654;
    }
  }

  @include disabled {
    color: #030a1a;

    &::before {
      background-color: #808080;
    }
  }
}
