.free-classes {
  position: relative;
  z-index: 0;

  color: #ffffff;

  padding: 56px 170px 66px 0;

  &::before {
    position: absolute;
    inset: 0;
    left: -10000px;
    z-index: -1;

    background-color: #102654;

    content: "";
  }

  @include vp-1200 {
    background-color: #102654;

    padding: 54px 162px 67px 132px;

    &::before {
      display: none;
    }
  }

  @include vp-768 {
    padding: 60px 0;
    padding-bottom: 69px;
  }
}

.free-classes__container {
  @include vp-1200 {
    padding: 0;
  }

  @include vp-768 {
    padding: 0 ($vp-768-container-padding);
  }
}

.free-classes__title {
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 800;
  line-height: 156%;
  letter-spacing: 1.62px;

  margin: 0;
  margin-bottom: 14px;

  @include vp-1200 {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1.26px;

    margin-bottom: 24px;
  }

  @include vp-768 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.96px;

    margin-bottom: 22px;
  }
}

.free-classes__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;

  margin-bottom: 29px;

  @include vp-1200 {
    gap: 0 60px;
  }

  @include vp-768 {
    grid-template-columns: 1fr;
    gap: 30px 0;

    margin-bottom: 37px;
  }
}

.free-classes__button {
  font-size: 14px;
  letter-spacing: 0.7px;

  padding-bottom: 14px;
  padding-top: 16px;
  width: 100%;

  @include vp-1200 {
    padding-bottom: 14px;
    padding-top: 16px;
  }
}
