.main-button {
  display: inline-block;

  color: #ffffff;
  font-size: 12px;
  font-family: $ff-placeholder;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  cursor: pointer;

  border: 4px solid #ffffff;
  padding: 20px 52px;

  @include vp-1200 {
    padding: 20px 29px;
  }

  &.active {
    color: #103aae;

    background-color: #ffffff;
  }

  @include hover-focus {
    color: #103aae;

    background-color: #ffffff;
  }

  @include active {
    color: $color-primary;

    background-color: #ffffff;
  }

  @include disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--dark {
    color: $color-dark-cerulean;

    border-color: $color-dark-cerulean;

    &.active {
      color: #ffffff;

      border-image: linear-gradient(118deg, $color-torch-red, $color-dark-cerulean) 1;
      background-image: linear-gradient(118deg, $color-torch-red, $color-dark-cerulean);
    }

    @include hover-focus {
      color: #ffffff;

      border-image: linear-gradient(118deg, $color-torch-red, $color-dark-cerulean) 1;
      background-image: linear-gradient(118deg, $color-torch-red, $color-dark-cerulean);
    }

    @include active {
      color: rgba(#ffffff, 0.7);

      border-image: linear-gradient(118deg, $color-torch-red, $color-dark-cerulean) 1;
      background-image: linear-gradient(118deg, $color-torch-red, $color-dark-cerulean);
    }
  }
}
