.main-button {
  display: inline-block;

  color: #ffffff;
  font-size: 12px;
  font-family: $ff-placeholder;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition:
    color $trans-time,
    background-color $trans-time;

  border: 4px solid #ffffff;
  padding: 20px 52px;

  @include vp-1200 {
    padding: 20px 29px;
  }

  &.active {
    color: #103aae;

    background-color: #ffffff;
  }

  @include hover-focus {
    color: #103aae;

    background-color: #ffffff;
  }

  @include active {
    color: $color-primary;

    background-color: #ffffff;
  }

  @include disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--dark {
    position: relative;
    z-index: 0;

    color: $color-dark-cerulean;

    border-color: $color-dark-cerulean;

    &::before {
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      z-index: -1;

      opacity: 0;
      transition: opacity $trans-time;
      background-image: linear-gradient(118deg, $color-torch-red, $color-dark-cerulean);

      content: "";
    }

    &.active {
      color: #ffffff;

      border-color: transparent;

      &::before {
        opacity: 1;
      }
    }

    @include hover-focus {
      color: #ffffff;

      border-color: transparent;

      &::before {
        opacity: 1;
      }
    }

    @include active {
      color: rgba(#ffffff, 0.7);

      border-color: transparent;

      &::before {
        opacity: 1;
      }
    }
  }
}
