.trainers {
  padding-bottom: 94px;

  overflow-x: hidden;
}

.trainers__content {
  position: relative;
  z-index: 0;

  overflow: visible;

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    z-index: 2;

    background-color: #ffffff;

    content: "";
  }

  &::before {
    left: -10000px;
    right: 100%;
  }

  &::after {
    left: 100%;
    right: -10000px;
  }

  @include vp-1200 {
    margin: 0 56px;
  }

  @include vp-768 {
    margin: 0 32px;
  }
}

.trainers__title {
  font-size: 54px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  letter-spacing: 1.62px;
  text-transform: capitalize;

  margin: 0;
  margin-bottom: 48px;

  @include vp-1200 {
    text-align: center;
    font-size: 42px;
    letter-spacing: 1.26px;

    margin-bottom: 31px;
  }

  @include vp-768 {
    font-size: 32px;
    letter-spacing: 0.96px;

    margin-bottom: 43px;
  }
}

.trainers__items {
  display: flex;

  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.trainers__subtitle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 21px;

  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;

  margin: 0;
}

.trainers__job,
.trainers__benefits {
  position: absolute;

  opacity: 0;
}

.trainers__job {
  color: #b6bdcc;
  line-height: 150%;
  text-align: center;

  margin: 0;
  margin-bottom: 29px;
}

.trainers__benefits {
  margin: 0;
  padding: 0;
  padding-left: 51px;
  list-style: none;

  @include vp-768 {
    padding-left: 30px;
  }
}

.trainers__benefits-item {
  position: relative;

  font-size: 14px;
  line-height: 150%;

  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 8px;
    left: -16px;

    border-radius: 50%;
    background-color: #ffffff;

    width: 6px;
    height: 6px;

    content: "";
  }
}

.trainers__item {
  position: relative;
  z-index: 0;

  color: #ffffff;

  aspect-ratio: 1 / 1.12;

  min-height: 292px;
  width: 260px;
  padding: 52px 20px;
  padding-bottom: 22px;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;

    opacity: 0;
    transition: opacity $trans-time;
    background-color: rgba(16, 38, 84, 0.89);

    content: "";
  }

  picture {
    position: absolute;
    inset: 0;
    z-index: -2;

    display: flex;
  }

  img {
    object-fit: cover;

    width: 100%;
  }

  @include hover-active {
    &::before {
      opacity: 1;
    }

    .trainers__subtitle {
      position: static;
    }

    .trainers__job,
    .trainers__benefits {
      position: static;

      opacity: 1;
      transition: opacity $trans-time;
    }
  }

  &.active {
    &::before {
      opacity: 1;
    }

    .trainers__subtitle {
      position: static;
    }

    .trainers__job,
    .trainers__benefits {
      position: static;

      opacity: 1;
      transition: opacity $trans-time;
    }
  }

  @include vp-768 {
    padding-top: 42px;
    padding-bottom: 44px;
    min-height: 274px;
  }
}

.trainers__prev,
.trainers__next {
  position: absolute;
  top: 50%;
  z-index: 3;

  transform: translateY(-50%);
}

.trainers__prev {
  left: -75px;

  @include vp-1280 {
    left: -40px;
  }

  @include vp-1200 {
    left: -75px;
  }

  @include vp-768 {
    top: 140px;
    left: -42px;
  }
}

.trainers__next {
  right: -75px;

  @include vp-1280 {
    right: -40px;
  }

  @include vp-1200 {
    right: -75px;
  }

  @include vp-768 {
    top: 140px;
    right: -42px;
  }
}
